{
    "AlignAfterOpenBracket": "Align",
    "AlignConsecutiveAssignments": false,
    "AlignConsecutiveDeclarations": true,
    "AlignOperands": true,   
    "AlignTrailingComments": true,
    "AllowAllParametersOfDeclarationOnNextLine": false,
    "AllowShortBlocksOnASingleLine": false,
    "AllowShortCaseLabelsOnASingleLine": true,
    "AllowShortFunctionsOnASingleLine": "Inline",
    "AllowShortIfStatementsOnASingleLine": true,
    "AllowShortLoopsOnASingleLine": false,
    "AlwaysBreakBeforeMultilineStrings": false,
    "AlwaysBreakTemplateDeclarations": true,
    "BasedOnStyle": "LLVM",
    "BinPackArguments": false,
    "BinPackParameters": false,
    "BreakBeforeBraces": "Attach",
    "ColumnLimit": 160,
    "ConstructorInitializerAllOnOneLineOrOnePerLine": true,
    "ConstructorInitializerIndentWidth": 2,
    "ContinuationIndentWidth": 2,
    "DerivePointerAlignment": false,
    "IndentCaseLabels": false,
    "IndentWidth": 2,
    "KeepEmptyLinesAtTheStartOfBlocks": false,
    "MaxEmptyLinesToKeep": 2,
    "NamespaceIndentation": "None",
    "PointerAlignment": "Left",
    "SortIncludes": false,
    "SpaceAfterCStyleCast": false,
    "SpaceBeforeAssignmentOperators": true,
    "SpaceBeforeParens": "ControlStatements",
    "SpaceInEmptyParentheses": false,
    "SpacesInAngles": false,
    "SpacesInCStyleCastParentheses": false,
    "SpacesInParentheses": false,
    "SpacesInSquareBrackets": false,
    "UseTab": "Never",
}
